<h1 class="title">About me</h1>
<div class="card-container">
  <mat-card class="image-container">
    <img mat-card-image [src]="famPicture" alt="Family">
  </mat-card>
  <mat-card class="about-card">
    <h4 class="title">My drive and learning</h4>
    <p>My fascination with technology began early on, with a penchant for
      taking apart electronics to understand their inner workings. Over time,
      my interests shifted toward software development, particularly the user
      interface. Through various work experiences, I witnessed firsthand the
      importance of designing software that not only functions but also
      provides a seamless user experience. This realization has shaped my
      career path, and I am committed to crafting applications that are both
      visually appealing and user-friendly.
    </p>
    <h4 class="title">As a developer</h4>
    <p>I am a skilled software engineer with a strong foundation in Angular
      and a passion for crafting user-centric solutions. Over the past three
      years at OpenText, I have successfully contributed to numerous projects,
      modernizing legacy AngularJS applications with innovative UI/UX designs
      and RESTful API integrations. My goal is to continue expanding my skill
      set to become a full-stack engineer, delivering exceptional digital experiences.
    </p>
    <h4 class="title">As a colleague</h4>
    <p>I've always found that the most successful teams are those where
      communication isn't just about tasks, but about people. Taking the
      time for casual conversations, sharing experiences, and understanding
      each other's perspectives has always made a huge difference. It's
      amazing how a simple chat can lead to a breakthrough idea or a more
      efficient solution. Ultimately, it's about working together as a team,
      not just as individuals. When we're united by a common goal and support
      each other, there's no limit to what we can achieve.
    </p>
    <h4 class="title">As a father and husband</h4>
    <p>Family has always been my top priority. Growing up without a father
      figure instilled in me a strong desire to be a dedicated and loving
      husband and father. The flexibility of remote work allows me to balance
      my professional commitments with my family life. I am committed to
      providing a supportive and nurturing environment for my children while
      maintaining a strong work ethic and delivering exceptional results.
    </p>
    <p>When I'm not coding, I enjoy spending time with my family, playing
      video games or learning new things.
    </p>
  </mat-card>
</div>
