<mat-toolbar>
  <button mat-button class="home" aria-label="home">
    <span>Home</span>
  </button>
<span>&nbsp;</span>
  <button mat-button class="about" aria-label="about">
    <span>About</span>
  </button>
  <span>&nbsp;</span>

  <button mat-button class="projects" aria-label="projects">
    <span>Projects</span>
  </button>
  <span>&nbsp;</span>

  <button mat-button class="contact" aria-label="contact">
    <span>Contact</span>
  </button>
  <span>&nbsp;</span>

  <button mat-button class="resume" aria-label="resume">
    <span>Resume</span>
  </button>

  <span class="example-spacer"></span>

  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>mail_outline</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>

</mat-toolbar>
