<div class="section-container">
    <div class="btn-container">
      <span class="example-spacer"></span>

<!--      <button mat-icon-button (click)="downloadPdf()">-->
<!--             <img [src]="resume" alt="Download Resume">-->
<!--      </button>-->

      <a href="mailto:evan.southwick5@gmail.com" aria-label="Send me an email">
        <button mat-icon-button>
          <img [src]="emailIcon" alt="Github">
        </button>
      </a>

      <a href="https://www.linkedin.com/in/evan-southwick-85940316b/"
         target="_blank"
         aria-label="Check out my linkedin">
        <button mat-icon-button>
          <img [src]="linkedinIcon" alt="Github">
        </button>
      </a>

      <a href="https://github.com/ESouthwick"
         target="_blank"
         aria-label="Check out my github">
        <button mat-icon-button>
          <img [src]="githubIcon" alt="Github">
        </button>
      </a>

<!--      <a href="https://x.com/evansouth5"-->
<!--         target="_blank"-->
<!--         aria-label="Check out my github">-->
<!--        <button mat-icon-button>-->
<!--          <img [src]="xIcon" alt="Github">-->
<!--        </button>-->
<!--      </a>-->

      <a href="https://discordapp.com/users/666096107457085469"
         aria-label="Find me on discord">
        <button mat-icon-button>
            <img [src]="discordIcon" alt="Github">
        </button>
      </a>

  </div>
</div>
