form {
  display: flex;
  flex-direction: column !important;
  align-items: flex-start;
}

mat-form-field {
  width: 500px;
}

.btn-container {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  background-color:#3c4a67;
  .example-spacer {
    flex: 1 2 auto;
  }
}

@media (max-width: 767px) {
  mat-form-field {
    max-width: 90vw;
  }
}
